name : Generate ASCII Artwork 
on : push

jobs :

  Build_job :
    runs-on : ubuntu-latest
    steps :

    - name : Install cowsay program
      run : sudo apt-get install cowsay -y

    - name : Execute Cowsay Command
      run : cowsay -f dragon "Beware of the artifacts!" >> dragon.txt

    - name : sleep for 30 seconds
      run : sleep 30

  Test_job :
    needs : Build_job
    runs-on : ubuntu-latest
    steps :

    - name : sleep for 10 seconds
      run : sleep 10

    - name : Text file exists
      run : grep -i "dragon" dragon.txt


  Deploy_job :
    needs : [Test_job]
    runs-on : ubuntu-latest
    steps :

    - name : Read text file
      run : cat dragon.txt