name: CI Pipeline

on:
  push:
    branches: [ main ]
# Defined at the workflow level
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: echo "This entire workflow will be canceled if a new push occurs."