name: Expose secret

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build step
        run: |
          echo "Starting build process for username ${{ vars.DOCKER_USERNAME }} & password - ${{ secrets.DOCKER_PASSWORD }}"

  test:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Test step
        run: echo "Running tests for - ${{ vars.DOCKER_USERNAME }}..."

  deploy:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Deploy step
        run: echo "Deploying simple one for - ${{ vars.DOCKER_USERNAME }}..."